apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-container
        image: leopincle/todoapp:21530502172
        ports:
        - containerPort: 8000
