apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: todo
spec:
  type: LoadBalancer
  selector:
    app: todo-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
